The MXC library has a built-in SAS verification class

How it works: it's enabled by default, so you can verify your bot via SAS without any issues

It also supports verification of other devices, as shown in verif.py.
