# SAS Verification

The MXC library has a built-in class for SAS verification.

How it works: it's enabled by default, so you can verify your bot via SAS without any issues.

It also supports verifying other devices, as demonstrated in verif.py.
